
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/PackageRestoreData.json
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UE4CC-Windows-9B54C9254A0A6DC22E7220819049E643/CrashReportClient.ini
Saved/Logs/IDV-backup-2022.01.19-09.51.16.log
Saved/Logs/IDV.log
Saved/Config/Windows/EditorPerProjectUserSettings.ini
